#footer {
    margin-top: 5rem;
}

.footer__category {
    padding: 5rem 0;
    background-color: var(--bg-color);
}

.footer__category-item {
    margin: 0 2rem 2rem 0;
    text-align: center;
}

.footer__category-name {
    margin: 0 1rem;
    font-size: 1.4rem;
    font-weight: 700;
    transition: all 0.3s linear;
}

.footer__category-name:hover {
    text-decoration: none;
    color: var(--primary-color-2);
}

.footer__category-name span {
    margin-left: 0.5rem;
    font-style: italic;
    font-weight: normal;
}

.square {
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--black-color);
}

.footer__copyright {
    background-color: var(--black-color);
    text-align: center;
    padding: 2rem 0;
    color: var(--white-color);
    font-size: 1.4rem;
}